<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dmitryfullstackazurefunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/45db5660-a7ea-4e41-995c-222fc7ba52db/resourcegroups/AzureFunctionProxy420200811005240ResourceGroup/providers/Microsoft.Web/sites/DmitryFullstackAzureFunctionApp</ResourceId>
    <UserName>$DmitryFullstackAzureFunctionApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://dmitryfullstackazurefunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>